@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
}

.logo-img {
  width: 1.875rem;
}

.logo-name {
  font-size: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.nav-list {
  text-transform: uppercase;
}

.nav-link {
  color: #090909;
  font-weight: bold;
  cursor: pointer;
}

.nav-link:first-child {
  margin-right: 1rem;
}
